<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>

    <div class="min-h-screen bg-gray-50 flex flex-col justify-center py-12 sm:px-6 lg:px-8">
        <div class="absolute top-5 left-5">
            <a href="/" class="flex items-center gap-2 text-lg font-semibold hover:text-gray-400">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M10 19l-7-7m0 0l7-7m-7 7h18" />
                </svg>
                Home
            </a>
        </div>


        <div class="sm:mx-auto sm:w-full sm:max-w-md text-center">
            <% if (typeof errors !='undefined' ) { %>

                <div class="bg-red-300 p-5 rounded-md text-white text-left">
                    <% errors.forEach(error=> { %>
                        <li>
                            <%= error.msg %>
                        </li>
                        <% }) %>
                </div>

                <% } %>

                    <% if (typeof errorMessage !='undefined' ) { %>
                        <div class="bg-red-300 p-4 rounded-md text-white text-xl">
                            <%= errorMessage %>
                        </div>
                        <% } %>

                            <h2 class="mt-6 text-2xl font-bold text-gray-800">Buat akun baru</h2>
        </div>
        <div class="mt-8 sm:mx-auto w-full md:w-1/2 px-4 sm:px-10">
            <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
                <form action="/register" method="POST" class="space-y-5">
                    <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
                        <div>
                            <label for="username" class="block text-sm font-medium text-gray-700">Username</label>
                            <div class="mt-1">
                                <input id="username" name="username" type="text" autocomplete="username"
                                    required="required" value
                                    class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-blue-800 focus:border-blue-800 sm:text-sm" />
                            </div>
                        </div>
                        <div>
                            <label for="password" class="block text-sm font-medium text-gray-700">Password</label>
                            <div class="mt-1">
                                <input id="password" name="password" type="password" autocomplete="password"
                                    required="required"
                                    class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-blue-800 focus:border-blue-800 sm:text-sm" />
                            </div>
                        </div>
                        <div>
                            <label for="email" class="block text-sm font-medium text-gray-700">Email</label>
                            <div class="mt-1">
                                <input id="email" name="email" type="text" autocomplete="email" required="required"
                                    value
                                    class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-blue-800 focus:border-blue-800 sm:text-sm" />
                            </div>
                        </div>
                        <div>
                            <label for="nama" class="block text-sm font-medium text-gray-700">Nama</label>
                            <div class="mt-1">
                                <input id="nama" name="nama" type="text" autocomplete="nama" required="required" value
                                    class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-blue-800 focus:border-blue-800 sm:text-sm" />
                            </div>
                        </div>
                        <div>
                            <label for="alamat" class="block text-sm font-medium text-gray-700">Alamat</label>
                            <div class="mt-1">
                                <input id="alamat" name="alamat" type="text" autocomplete="alamat" required="required"
                                    value
                                    class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-blue-800 focus:border-blue-800 sm:text-sm" />
                            </div>
                        </div>
                        <div>
                            <label for="notelp" class="block text-sm font-medium text-gray-700">Nomer
                                Telepon</label>
                            <div class="mt-1">
                                <input id="notelp" name="notelp" type="text" autocomplete="notelp" required="required"
                                    value
                                    class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-blue-800 focus:border-blue-800 sm:text-sm" />
                            </div>
                        </div>
                    </div>
                    <div class="flex items-center justify-between">
                        <div class="text-sm">
                            Sudah punya akun?
                            <br />
                            <a href="/login" class="font-medium text-blue-600 hover:text-blue-800">Masuk
                                Sekarang!</a>
                        </div>
                    </div>
                    <div>
                        <button type="submit"
                            class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white focus:outline-none focus:ring-2 focus:ring-offset-2 disabled:opacity-50 items-center bg-blue-600 hover:bg-blue-800 focus:ring-blue-800">
                            <span class="text-base">Daftar</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>

</html>