<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body class="bg-coklat-muda">
    <header>
        <div class="px-9 py-5 flex justify-between items-center gap-x-6">
            <div class="flex items-center gap-x-3">
                <div class="w-10 h-10">
                    <img src="/assets/chapter-04/logo.png" alt="" class="w-full h-full object-cover" />
                </div>
                <div>
                    <h1 class="text-xl lg:text-4xl text-kuning-tua font-bold">ROCK PAPER SCISSORS</h1>
                </div>
            </div>
            <div>
                <a href="/logout"
                    class="flex-shrink-0 flex gap-x-1 bg-purple-600 text-white text-base font-semibold py-2 px-4 rounded-lg shadow-md hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-purple-500 focus:ring-offset-2 focus:ring-offset-purple-200"
                    type="button">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1" />
                    </svg>
                    Log Out
                </a>
            </div>
        </div>
    </header>

    <main class="pt-10 md:max-w-4xl mx-auto min-h-full">
        <div class="px-9 py-5">
            <div class="flex flex-col md:flex-row md:flex-grow gap-y-10">
                <!-- User -->
                <div>
                    <h3 class="text-xl lg:text-4xl text-black font-bold uppercase tracking-wider md:text-center">User
                    </h3>
                    <div class="mt-5 flex justify-between md:flex-col md:gap-y-5 items-center" id="players">
                        <% dataImgs.forEach(dataImg=> { %>
                            <div
                                class="w-24 flex items-center justify-center p-3 cursor-pointer rounded-[30px] hover:bg-abu-abu transition duration-100">
                                <img src=" <%= dataImg.img  %>  " alt="" class="object-cover" />
                            </div>
                            <% }) %>
                    </div>
                </div>
                <!-- User -->

                <!-- button & info -->
                <div class="flex items-center justify-center md:flex-col md:flex-grow px-3 md:mt-[120px]">
                    <div class="w-6/12 md:hidden"></div>

                    <div class="w-6/12 md:w-full h-full flex items-center md:justify-center" id="text-result">
                        <div id="textVS">
                            <h2 class="text-6xl text-red-700 font-bold md:text-8xl">VS</h2>
                        </div>
                        <div class="p-3 rounded-xl hidden transform -rotate-12" id="divHasil">
                            <h2 class="text-xl md:text-4xl uppercase text-white font-bold" id="textHasil">User Wins</h2>
                        </div>
                    </div>
                    <div class="w-10 md:w-16 cursor-pointer" id="refresh">
                        <img src="/assets/chapter-04/refresh.png" alt="" id="img-restart" />
                    </div>
                </div>
                <!-- button & info -->

                <!-- Computer -->
                <div>
                    <h3 class="text-xl lg:text-4xl text-black font-bold uppercase tracking-wider md:text-center">Com
                    </h3>
                    <div class="mt-5 flex justify-between md:flex-col md:flex-grow md:gap-y-5" id="computers">
                        <% dataImgs.forEach(dataImg=> { %>
                            <div
                                class="w-24 flex items-center justify-center p-3 rounded-[30px] transition duration-100">
                                <img src=" <%= dataImg.img  %>  " alt="" class="object-cover" />
                            </div>
                            <% }) %>
                    </div>
                </div>
                <!-- Computer -->
            </div>
        </div>
    </main>

    <script src="/javascript/oop.js"></script>
</body>

</html>